<!DOCTYPE html>
<html lang="{{ i18n.locale }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ title ? `${title} - Admin - ${provider.name}` : `Admin - ${provider.name}` }}
    </title>
    @vite(['resources/styles/app.scss', 'resources/scripts/admin.js'])
  </head>
  <body class="admin">
    <div class="root-container">
      <header>
        <h1>
          {{ provider.name }}: Administration
        </h1>
        <p>
          <a href="{{ route('about') }}" class="secondary">&laquo; View public site</a>
        </p>
        <nav>
          <ul>
            <li>
              <a href="{{ route('admin.overview') }}">Overview</a>
            </li>
            <li>
              <a href="{{ route('admin.labels.index') }}">Labels</a>
            </li>
            <li>
              <a href="{{ route('admin.datasets.index') }}">Datasets</a>
            </li>
            <li>
              <a href="{{ route('admin.imports.index') }}">Import</a>
            </li>
            <li>
              <a href="{{ route('admin.settings') }}">Settings</a>
            </li>
          </ul>
          <div class="d-flex gap-2">
            <span>Logged in as <a href="{{ route('admin.account.manage') }}">{{ auth.user.username }}</a></span>
            <form method="POST" action="{{ route('admin.logout') }}">
              {{ csrfField() }}
              <button type="submit" class="w-auto outline secondary">Logout</button>
            </form>
          </div>
        </nav>
      </header>
      <main>
        {{{ await $slots.main() }}}
      </main>
      @!component('components/footer')
    </div>
  </body>
</html>
