<!DOCTYPE html>
<html lang="{{ i18n.locale }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ title ? `${title} - FediMod FIRES` : 'FediMod FIRES' }}
    </title>
    @vite(['resources/styles/app.css'])
  </head>
  <body>
    <div class="root-container">
      <header>
        <h1>
          FediMod FIRES
        </h1>
      </header>
      <main>
        {{{ await $slots.main() }}}
      </main>
      <footer>
        <hr />
        <p>
          Powered by <a href="https://fires.fedimod.org" target="_blank">FediMod FIRES</a>&nbsp;vX.Y.Z
        </p>
      </footer>
    </div>
  </body>
</html>
