<!DOCTYPE html>
<html lang="{{ i18n.locale }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ title ? `${title} - ${provider.name}` : provider.name }}
    </title>
    @vite(['resources/styles/app.scss', 'resources/scripts/app.js'])
    @if ($slots.head)
      {{{ await $slots.head() }}}
    @endif
  </head>
  <body>
    <div class="root-container">
      <header>
        <h1>
          {{ provider.name }}
        </h1>
        <p class="lead">
          {{ provider.summary }}
        </p>
        <nav>
          <ul>
            <li>
              <a href="{{ route('about') }}">About</a>
            </li>
            @if(hasLabels)
              <li>
                <a href="{{ route('labels.index') }}">Labels</a>
              </li>
            @end
            @if(hasDatasets)
              <li>
                <a href="{{ route('datasets.index') }}">Datasets</a>
              </li>
            @end
          </ul>
          <ul>
            <li>
              <a href="{{ route('admin.login') }}">Admin</a>
            </li>
          </ul>
        </nav>
      </header>
      <main>
        {{{ await $slots.main() }}}
      </main>
      <footer>
        <p>
          Powered by <a href="{{ software.homepage }}" target="_blank" rel='noopener'>{{ software.name }}</a>&nbsp;v{{ software.version }}<br />
          <a href="{{ software.source.url }}" target="_blank" rel='noopener'>View source code</a>
        </p>
      </footer>
    </div>
  </body>
</html>
