<footer>
  <p>
    Powered by <a href="{{ software.homepage }}" target="_blank" rel='noopener'>{{ software.name }}</a>&nbsp;v{{ software.version }}<br />
    <a href="{{ software.source.url }}" target="_blank" rel='noopener'>View source code</a>
  </p>
</footer>
