@layouts.app({ title: 'Labels'})
  @slot('head')
    <link href="{{ route_url('labels.index') }}" rel="alternate" type="application/ld+json" />
  @end
  @slot('main')
    <div class="header">
      <div class="breadcrumbs">
      </div>
      <h2>
        Labels
      </h2>
    </div>
    @each(label in labels)
      @include('labels/_label')
    @end
    @each(label in deprecatedLabels)
      @include('labels/_label')
    @end
  @endslot
@end
