<div class="grid row row-header text-center">
  <strong>Change Type</strong>
  <strong>Kind</strong>
  <strong>Key</strong>
  <strong>Recommended Policy</strong>
  @if(retraction)
    <span></span>
  @endif
</div>
