<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      FediMod FIRES
    </title>
    @vite(['resources/styles/app.css'])
  </head>
  <body>
    <main class="container-fluid">
      <h1>
        FediMod FIRES
      </h1>
      <p>
        There'll be some information about the server here in the future.
      </p>
    </main>
  </body>
</html>
