@use '@picocss/pico/scss/pico' with (
  $theme-color: 'red'
);
@use '@picocss/pico/scss/pico.colors' as *;

:root,
:host {
  --pico-font-size: 120%;
  --pico-form-element-spacing-vertical: 0.4rem;
  --pico-form-element-spacing-horizontal: 0.75rem;
  --pico-notification-spacing-vertical: 0.8rem;
  --pico-notification-spacing-horizontal: 1.5rem;
}

@media only screen and (prefers-color-scheme: light) {
  :root:not([data-theme]),
  :host(:not([data-theme])) {
    --pico-form-element-active-border-color: var(--pico-color-zinc-300);
    --pico-form-element-focus-color: var(--pico-color-zinc-200);
    --pico-primary-focus: var(--pico-color-slate-200);
  }
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]),
  :host(:not([data-theme])) {
    --pico-primary-focus: var(--pico-color-slate-600);
    --pico-table-border-color: var(--pico-color-zinc-150);
    --pico-form-element-active-border-color: var(--pico-color-zinc-700);
    --pico-form-element-focus-color: var(--pico-color-zinc-600);

    --fires-label-badge-color: var(--pico-color-zinc-750);
    --fires-label-badge-text: var(--pico-color-zinc-200);
    --fires-deprecated-badge-color: var(--pico-color-zinc-100);
    --fires-deprecated-badge-text-color: var(--pico-color-zinc-600);
    --fires-row-separator-color: var(--pico-color-zinc-150);
    --external-link-icon: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M0 0h24v24H0V0z' fill='none' /%3E%3Cpath d='M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z' /%3E%3C/svg%3E");
  }
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme='light']),
  :host:not([data-theme='light']) {
    --pico-table-border-color: var(--pico-color-zinc-750);

    --pico-background-color: var(--pico-color-zinc-850);
    --fires-deprecated-badge-text-color: var(--pico-color-zinc-200);
    --fires-deprecated-badge-color: var(--pico-color-zinc-700);
    --fires-row-separator-color: var(--pico-color-zinc-750);
  }
}

.root-container {
  max-width: 70%;
  margin: 3rem auto;
}

/* Small (landscape phones) */
@media (max-width: 576px) {
  .root-container {
    max-width: 100%;
    margin: 3rem 1rem;
  }
}

.error-container {
  text-align: center;
  margin-top: 6rem;
}

main :is(a[href*="://"], a[target="_blank"]):not(:is(.no-icon, svg a, :has(img, svg)))
{
  white-space: collapse nowrap;
  text-wrap-mode: nowrap;

  &::after {
    display: inline-block;
    margin-top: -1px;
    margin-left: 4px;
    width: 11px;
    height: 11px;
    background: currentColor;
    color: inherit;
    content: '';
    flex-shrink: 0;
    mask-image: var(--external-link-icon);
    -webkit-mask-image: var(--external-link-icon);
  }
}

table {
  thead th {
    --pico-border-width: 0;
  }
}

header {
  border-bottom: 1px solid var(--pico-color-zinc-150);
  padding-bottom: var(--pico-spacing);
  margin-bottom: var(--pico-spacing);
}

header nav {
  align-items: baseline;

  form button {
    margin-bottom: 0 !important;
  }
}

footer {
  margin-top: 3rem;
  border-top: 1px solid var(--pico-color-zinc-150);
  padding-top: 1rem;
}

.header {
  margin-bottom: var(--pico-spacing);
  padding-bottom: var(--pico-spacing);

  h2 {
    margin-bottom: 0;
  }

  .breadcrumbs {
    height: 1.8rem;
    margin-bottom: calc(var(--pico-spacing) / 2);
  }
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]),
  :host:not([data-theme]) {
    header {
      border-bottom-color: var(--pico-color-zinc-650);
    }
    footer {
      border-top-color: var(--pico-color-zinc-650);
    }
  }
}

footer p {
  text-align: center;
  font-size: 0.6rem;
  color: var(--pico-muted-color);
}

footer a {
  opacity: 0.6;
}

h2 small,
h3 small,
h4 small {
  color: var(--pico-secondary-hover-background);
}

hgroup > :not(:first-child):last-child {
  font-size: 1.2rem;
}

p.lead {
  margin-bottom: calc(var(--pico-typography-spacing-vertical) * 2);
}

.d-hidden {
  display: none;
}

.flex-grow {
  flex-grow: 1;
}

button.inline {
  display: inline;
  width: auto;
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: var(--pico-spacing);
}

.mt-2 {
  margin-top: calc(var(--pico-spacing) * 1.5);
}

.mb-2 {
  margin-bottom: calc(var(--pico-spacing) * 1.5);
}

.mt-4 {
  margin-top: calc(var(--pico-spacing) * 2.5);
}

.ml-3 {
  margin-left: calc(var(--pico-spacing) * 2);
}

dl.labels dt {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}

.label-content {
  margin-left: 2rem;
}

.label-description h1 {
  font-size: 1.4rem;
}

.label-description h2 {
  font-size: 1.3rem;
}

.label-description h3 {
  font-size: 1.2rem;
}

.label-description h4 {
  font-size: 1.1rem;
}

.data-row {
  border-bottom: 1px solid var(--fires-row-separator-color);
  margin-bottom: var(--pico-spacing);
  padding-bottom: var(--pico-spacing);

  &:last-child {
    border-bottom: 0;
  }
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  > [role='button'] {
    margin-bottom: 0 !important;
  }

  &.gap-2 {
    gap: var(--pico-spacing);
  }
}

fieldset[role='group'][data-copyable] label {
  width: auto;
  min-width: 4rem;
  padding: var(--pico-form-element-spacing-vertical) var(--pico-form-element-spacing-horizontal);
  text-align: right;
  text-wrap: nowrap;
}

.button-group {
  display: flex;
  gap: var(--pico-form-element-spacing-horizontal);
  flex-direction: row-reverse;
}

.button-group > button,
.button-group > a[role='button'] {
  width: auto;
  margin-bottom: 0;
}

a[role='button'] {
  margin-bottom: var(--pico-spacing);

  &.outline {
    --pico-primary-focus: var(--pico-color-red-400);
  }
}

button[type='submit']:not(.danger, .outline, .secondary) {
  --pico-primary-focus: var(--pico-color-green-400);
  --pico-background-color: var(--pico-color-green-500);
  --pico-border-color: var(--pico-color-green-500);
  --pico-color: white;

  &:is(:hover, :focus, :active) {
    --pico-background-color: var(--pico-color-green-600);
    --pico-border-color: var(--pico-color-green-600);
  }
}

.copyable-btn {
  width: 7rem !important;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.form-hint {
  display: block;
  width: 100%;
  margin: var(--pico-form-element-spacing-vertical) 0;
  color: var(--pico-muted-color);
}

input:is([type='file']) {
  margin-bottom: 0;

  + .form-hint {
    margin-bottom: var(--pico-spacing);
  }
}

[role='group']:has(+ .form-hint) {
  margin-bottom: 0;

  & + .form-hint {
    margin-bottom: var(--pico-spacing);
  }
}

.form-control.is-invalid {
  border-color: var(--pico-color-red-450);
}

.invalid-feedback {
  margin-bottom: var(--pico-typography-spacing-vertical);
  padding: var(--pico-form-element-spacing-vertical) var(--pico-form-element-spacing-horizontal);
  border-radius: var(--pico-border-radius);
  background-color: var(--pico-color-red-450);
  color: white;

  > * {
    color: white;
  }

  > :only-child {
    margin-bottom: 0;
  }
}

.badge {
  font-weight: 500;
  margin: 0 var(--pico-spacing) 0;
  padding: 0.3rem 0.6rem;
  border-radius: var(--pico-border-radius);
  display: block;
  text-align: center;
  font-size: 0.5rem;

  &[data-tooltip] {
    border-bottom: none;
  }

  &.badge-inline {
    display: inline-block;
  }

  &.badge-info {
    background: var(--pico-color-indigo-600);
    color: var(--pico-color-light);
  }

  &.badge-deprecated {
    display: inline-block;
    background: var(--fires-deprecated-badge-color);
    color: var(--fires-deprecated-badge-text-color);
  }

  &.badge-tombstone {
    background: var(--pico-color-zinc-750);
    color: var(--pico-color-zinc-350);
  }

  &.badge-retraction {
    background: var(--pico-color-slate-650);
    color: var(--pico-color-light);
  }

  &.badge-advisory {
    background: var(--pico-color-azure-550);
    color: var(--pico-color-light);
  }

  &.badge-recommendation {
    background: var(--pico-color-green-550);
    color: var(--pico-color-light);
  }
}

.notification {
  padding: var(--pico-notification-spacing-vertical) var(--pico-notification-spacing-horizontal);
  margin: calc(var(--pico-notification-spacing-vertical) * 2) 0;
  background: var(--pico-color-zinc-850);
  color: var(--pico-primary-inverse);
  border-radius: var(--pico-border-radius);
}

.notification.notification-error {
  background-color: var(--pico-color-red-450);
  color: white;
}

.notification.notification-success {
  background-color: var(--pico-color-green-500);
  color: white;
}

.notification.notification-alpha {
  background-color: var(--pico-color-blue-500);
  color: white;
}

.notification.notification-warning {
  background-color: var(--pico-color-orange-500);
  color: var(--pico-color-light);
}

.notification.notification-deprecated {
  background-color: var(--fires-deprecated-badge-color);
  color: var(--fires-deprecated-badge-text-color);
}

.notification.notification-info {
  background-color: var(--pico-color-zinc-800);
  color: var(--pico-color-zinc-250);
}

.separator {
  border-bottom: 1px solid var(--fires-row-separator-color);
  margin-bottom: var(--pico-spacing);
  padding-bottom: var(--pico-spacing);
}

#translations {
  margin-left: calc(var(--pico-spacing) * 2);
  margin-bottom: calc(var(--pico-spacing) * 2);
}

#translations-empty {
  margin: calc(var(--pico-spacing) * 2) 0;
}

#translations .translation-row {
  margin: calc(var(--pico-spacing) * 2) 0;
  border-bottom: 1px solid var(--fires-row-separator-color);
  padding-bottom: var(--pico-spacing);
}

details summary {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: first baseline;
}

details summary :is(h1, h2, h3, h4, h5, h6) {
  display: inline-block;
}

details summary::after {
  display: inline-block;
  width: 1.5rem;
  height: 1rem;
  background-size: 1.5rem auto;
  margin-inline-start: 0;
}

.entity-input {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0.5rem;
  margin-bottom: var(--pico-spacing);

  select {
    margin-bottom: 0;
    width: 100%;
  }

  input {
    margin-bottom: 0;
  }
}

fieldset.columns {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: 'a a a a';

  margin-block-end: 2rem;

  &.three-columns {
    grid-template-areas: 'a a a';
  }
}

.label-badge {
  display: inline-block;
  padding: 0.1rem 0.3rem;
  margin: 0.3rem 0.1rem 0 0;
  background-color: var(--fires-label-badge-color);
  color: var(--fires-label-badge-text);
  border-radius: 4px;
  font-size: 0.8rem;
}

#import-review {
  details,
  .section {
    padding-bottom: var(--pico-spacing);
  }

  summary h4 {
    margin-bottom: 0;
  }

  details p {
    margin-bottom: calc(var(--pico-typography-spacing-vertical) * 2);
  }

  .grid.row {
    align-items: baseline;

    &.row-header {
      margin: var(--pico-spacing) 0;
    }

    input[disabled],
    select[disabled],
    input[readonly],
    select[readonly] {
      opacity: 1;
      pointer-events: none;
    }
  }
}

input[type='text'][disabled],
select[disabled] {
  opacity: 1;
  pointer-events: none;
  cursor: pointer;
}
