services:
  postgresql:
    container_name: fires-postgresql
    restart: always
    image: postgres:18-alpine
    shm_size: 256mb
    networks:
      - internal_network
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 2s
      retries: 5
      start_period: 10s
      timeout: 10s
    volumes:
      - ./data/postgresql:/var/lib/postgresql/18/docker
    environment:
      - 'POSTGRES_HOST_AUTH_METHOD=trust'
      - 'POSTGRES_DB=fires_production'

  web:
    container_name: fires-server
    # You can uncomment the following line if you want to not use the prebuilt image, for example if you have local code changes
    build: ../../
    image: ghcr.io/fedimod/fires-server:edge
    restart: always
    env_file: .env.docker.local
    networks:
      - external_network
      - internal_network
    healthcheck:
      # prettier-ignore
      test: ['CMD-SHELL',"curl -s --noproxy localhost localhost:4444/health | grep -q 'OK' || exit 1"]
    ports:
      - '127.0.0.1:4444:4444'
    depends_on:
      postgresql:
        condition: service_healthy
        restart: true

networks:
  external_network:
  internal_network:
    internal: true
